@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .carrier {
    height: clamp(5rem, 2vw, 2.5rem);
    width: 22rem;
    background: url('/public/images/carrier.webp') no-repeat center / cover;
  }

  .cruiser {
    width: 7.5rem;
  }

  .battleship {
    width: 10rem;
  }

  .ship-outline {
    box-shadow: 0px 0px 4px 2px white;
  }

  .right {
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to left rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .left {
    transform: rotate(180deg);
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to left rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .up {
    transform: rotate(270deg);
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .down {
    transform: rotate(90deg);
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to left rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .board-carrier {
    border: black 1px solid;
    width: clamp(8.5rem, 2vw, 2.5rem);
    height: clamp(1.7rem, 2vw, 2.5rem);
    background: url('/public/images/carrier.webp') no-repeat center / cover;
  }

  .carrier-right {
    left: -1px;
    bottom: -1px;
  }

  .carrier-left {
    right: -1px;
    bottom: -1px;
  }

  .carrier-up {
    bottom: 53px;
    right: -56px;
  }

  .carrier-down {
    top: 53px;
    right: -55px;
  }

  .destroyer {
    height: clamp(1.8rem, 2vw, 2.5rem);
    width: 6rem;
    border: 1px solid black;
  }

  .board-destroyer {
    background-color: white;
    border: red 1px solid;
    width: clamp(5.2rem, 2vw, 2.5rem);
    height: clamp(1.8rem, 2vw, 2.5rem);
  }

  .destroyer-right {
    left: -1px;
    bottom: -2px;
  }

  .destroyer-left {
    right: -2px;
    bottom: -2px;
  }

  .destroyer-up {
    bottom: 26px;
    right: -29px;
  }

  .destroyer-down {
    top: 27px;
    right: -30px;
  }

  .submarine {
    width: 6rem;
    background-position: center;
    border: 1px solid black;
  }

  .board-submarine {
    background-color: white;
    border: red 1px solid;
    width: clamp(5.2rem, 2vw, 2.5rem);
    height: clamp(1.8rem, 2vw, 2.5rem);
  }

  .submarine-right {
    left: -1px;
    bottom: -2px;
  }

  .submarine-left {
    right: -2px;
    bottom: -2px;
  }

  .submarine-up {
    bottom: 26px;
    right: -29px;
  }

  .submarine-down {
    top: 27px;
    right: -30px;
  }

  @media (min-width: 768px) {
    .right {
      left: 0px;
      bottom: -3px;
    }

    .left {
      right: -1px;
      bottom: -3px;
    }

    .up {
      bottom: 52px;
      right: -57px;
    }

    .down {
      top: 53px;
      right: -55px;
    }

    .board-carrier {
      border: black 1px solid;
      width: clamp(8.5rem, 2vw, 2.5rem);
      height: clamp(1.9rem, 2vw, 2.5rem);
      background: url('/public/images/carrier.webp') no-repeat center / cover;
    }
  }

  @media (min-width: 1024px) {
    .right {
      left: -1px;
      bottom: -1px;
    }

    .left {
      right: -1px;
      bottom: -1px;
    }

    .up {
      bottom: 77px;
      right: -78px;
    }

    .down {
      top: 77px;
      right: -79px;
    }
  }

  @media (min-width: 1536px) {
    .right {
      left: 0px;
      bottom: -1px;
    }

    .left {
      right: -1px;
      bottom: -1px;
    }

    .up {
      bottom: 77px;
      right: -78px;
    }

    .down {
      top: 77px;
      right: -79px;
    }

    .board-carrier {
      border: black 1px solid;
      width: clamp(12rem, 2vw, 2.5rem);
      background: url('/public/images/carrier.webp') no-repeat center / cover;
    }
  }
}
