@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .carrier {
    width: 13rem;
  }

  .destroyer {
    width: 8.5rem;
  }

  .submarine {
    width: 8.5rem;
    background-position: center;
  }

  .cruiser {
    width: 7.5rem;
  }

  .battleship {
    width: 10rem;
  }
}
